@model Publisher

@{
    ViewData["Title"] = "Author Publisher";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <div class="row">
            <p class="mx-auto text-black">Details for @Model.Name</p>
        </div>
        <div class="row">
            <div class="col-md-8 offset-2">


                <div class="form-group text-center">
                    <img id="LogoURL"
                         alt="@Model.LogoURL"
                         class="border-info rounded-circle" style="max-width: 150px" src="@Model.LogoURL" />
                </div>
                <div class="form-group">
                    <p class="col-3 fw-bold">Publisher Name:</p>
                    <p class="col-9">@Model.Name</p>

                </div>
                <div class="form-group">
                    <p class="col-3 fw-bold">Year Created:</p>
                    <p class="col-9">@Model.YearCreated</p>
                </div>

                <div class="form-group mt-3">
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.Id"><i class="bi bi-pen"></i>Edit</a>
                </div>

            </div>
        </div>
    </div>
</div>
