@model IEnumerable<Book>

@{
    ViewData["Title"] = "List of all Books";
}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Once Upon A book</h1>
    </div>
</section>
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="row mb-3 mt-2">
        <div class="col-md-2 offset-md-10 col-sm-12 x">
            <a class="btn btn-outline-primary float-right" asp-action="Add"><i class="bi bi-plus"></i>Add A Book</a>
        </div>
    </div>
}
<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="@item.CoverURL" class="w-100 card-img-top" height="600px" alt="@item.Title">
                <div class="card-body">
                    <p class="card-title">@item.Title</p>
                    <p class="card-text">
                    <p class="card-text"><b class="text-dark-purple">Publisher: </b><a asp-controller="Publishers" asp-action="Details" asp-route-id="@item.Publisher.Id">@item.Publisher.Name</a></p>
                    <p class="card-text"><b class="text-dark-purple">Category: </b><span class="badge badge-pill badge-light-purple">@item.BookCategory.ToString()</span></p>
                    <p class="card-text"><b class="text-dark-purple">Language: </b><span class="badge badge-pill badge-light-purple">@item.Language.ToString()</span></p>
                    <p class="card-text">

                            @if (@item.Author_Book.Count() < 2)
                            {
                            <b>Author: </b> @item.Author_Book.FirstOrDefault().Author.AuthorName
                            }
                            else
                            {
                            <b>Authors: </b>
                                @foreach (var au in @item.Author_Book)
                                {
                                <span>
                                        @au.Author.AuthorName
                                </span>
                                }
                            }

                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">
                                <i class="bi bi-eye"></i> View
                            </a>
                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">
                                    <i class="bi bi-pen"></i>Edit
                                </a>
                                <a class="btn btn-sm btn-outline-secondary" asp-action="Delete" asp-route-id="@item.Id">
                                    <i class="bi bi-trash"></i>Delete
                                </a>
                                }

                        </div>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Member"))
                            {
                            <small class="text-muted">
                                <a class="btn btn-success text-white float-end"
                           asp-controller="Orders"
                           asp-action="AddToShoppingCart"
                           asp-route-id="@item.Id">
                                    <i class="bi bi-cart-plus"></i> @item.Price £
                                </a>
                            </small>
                            }
                    </div>
                </div>
            </div>
        </div>
    }
</div>