@using OnceUpoonABook.Data.ViewModels;
@model ShoppingCartViewModel

@{
    ViewData["Title"] = "Shopping card";
}

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row w-100">
            <div class="col-lg-12 col-md-12 col-12">
                <h3 class="display-5 mb-2 text-center">Shopping Cart</h3>
                <p class="mb-5 text-center">
                    <i class="text-info font-weight-bold">@Model.CartItems.Count</i> items in your cart
                </p>
                <table id="shoppingCart" class="table table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th style="width:60%">Product</th>
                            <th style="width:12%">Price</th>
                            <th style="width:10%">Quantity</th>
                            <th style="width:16%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CartItems)
                        {
                            <tr>
                                <td data-th="Product">
                                    <div class="row">
                                        <div class="col-md-3 text-left">
                                            <img src="@item.Book.CoverURL" alt="@item.Book.Title" class="img-fluid d-none d-md-block rounded mb-2 shadow">
                                        </div>
                                        <div class="col-md-9 text-left mt-sm-2">
                                            <h4>@item.Book.Title</h4>
                                            <p class="font-weight-light">Publisher @item.Book.Publisher.Name</p>
                                            <p class="font-weight-light">
                                                @if (@item.Book.Author_Book.Count() < 2)
                                                {
                                                    <b>Author: </b> @item.Book.Author_Book.FirstOrDefault().Author.AuthorName
                                                }
                                                else
                                                {
                                                    <b>Authors: </b>
                                                    @foreach (var au in @item.Book.Author_Book)
                                                    {
                                                        <span>
                                                            @au.Author.AuthorName
                                                        </span>
                                                    }
                                                }

                                            </p>

                                        </div>
                                    </div>
                                </td>
                                <td data-th="Price">@item.Book.Price</td>
                                <td data-th="Quantity">
                                    @item.Amount
                                </td>
                                <td class="actions" data-th="">
                                    <div class="text-right">
                                        <a class="btn btn-white border-secondary bg-white btn-md mb-2" asp-controller="Orders" asp-action="AddToShoppingCart"
                                            asp-route-id="@item.Book.Id">
                                            <i class="bi bi-plus-circle-fill"></i>
                                        </a>
                                        <a class="btn btn-white border-secondary bg-white btn-md mb-2" asp-controller="Orders" asp-action="RemoveFromShoppingCart"
                                            asp-route-id="@item.Book.Id">
                                            <i class="bi bi-dash-circle-fill"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
                <div class="float-right text-right">
                    <h4>Total:</h4>
                    <h1>@Model.Total £</h1>
                </div>
            </div>
        </div>
        <div class="row mt-4 d-flex align-items-center">
            <div class="col-sm-6 order-md-2 text-right">
                <a asp-controller="Orders" asp-action="Checkout" class="btn btn-primary mb-4 btn-lg pl-5 pr-5">
                    <i class="fas fa-arrow-left mr-2"></i> Checkout
                </a>
            </div>
            <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
                <a asp-controller="Books" asp-action="Index">
                    <i class="fas fa-arrow-left mr-2"></i> Continue Shopping
                </a>
            </div>
        </div>
    </div>
</section>